# Backend Files
/dotnetapp/Migrations/
/dotnetapp/cred.sh
/dotnetapp/bin/
/dotnetapp/obj/
TestProject/TestProject.csp
/TestProject/
/tests
reactapp/src/tests
# Frontend Files

/reactapp/node_modules
reactapp/src/apiConfig.js
reactapp/package-lock.json
/reactapp/src/tests

# Testing Files
/nunit
/react
/TestProject/ 
