# Backend Files
/dotnetapp/Migrations/
/dotnetapp/cred.sh
/dotnetapp/bin/
/dotnetapp/obj/
# Frontend Files

/reactapp/node_modules
reactapp/src/apiConfig.js
reactapp/package-lock.json

# Testing Files
/nunit
/react 
/TestProject/
