.navbar {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  padding: 1rem;
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.navbar-links .text-danger {
  color: red;
}

.navbar-user {
  color: white;
  margin-left: auto;
}

.demoreader-box {
  background-color: white;
  color: #6a11cb;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.book-dropdown .dropdown-menu {
  background-color: white;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.book-dropdown .dropdown-menu a {
  color: black;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
}

.book-dropdown .dropdown-menu a:hover {
  background-color: #f8f9fa;
}
.modal {
  display: block; /* Show the modal */
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.modal-content button {
  margin: 10px;
}

.footer {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-content h3,
.footer-content p {
  margin: 0;
  padding: 1px 0;
}
