
.glass-search-bar {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
  }
  h2{
    color: var(--text-color);
  }

  .page-container {
    background: var(--background-gradient); /* Dark gradient background */
    min-height: 100vh; /* Full-screen height */
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .book-list-container {
    flex-grow: 1;
    margin-top: 20px; 
  }

.glass-table {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  padding: 20px; 
  margin-top: 20px; 
  color: var(--text-color); 

}


.table-container {
  max-height: 400px; 
  overflow-y: auto; 
}

.table {
  width: 100%; 
  border-collapse: collapse; 
}

.table th,
.table td {
  color: var(--text-color);
  padding: 10px; 
  text-align: center; 
  border: 1px solid var(--input-color);
  vertical-align: middle;
}

.table th {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.2); 
  font-weight: bold;
}
.centre-text{
  text-align: center;
}

.table td {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.1); 
}

.background-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 14vw;
  font-weight: bold;
  color: var(--text-color-mild); 
  white-space: nowrap; 
  pointer-events: none;
  opacity: 0.5;
  margin:0px;
  margin-top:60px;
}
.glass-footer {

  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px; 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  padding: 20px; 
  text-align: center;
  color: var(--text-color); 
  margin-top: 20px; 

}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px; 
}

.table-container::-webkit-scrollbar-thumb {
  background: var(--text-color-mild); 
  border-radius: 10px; 
  border: 1px solid rgba(255, 255, 255, 0.2); 
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-mild); 
}
  
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .glass-modal {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .modal-text {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .modal-buttons .btn {
    border-radius: 5px;
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    text-align: center;
  }
  
  .loader {
    height: 60px;
    aspect-ratio: 2;
    border-bottom: 3px solid #0000;
    background: 
      linear-gradient(90deg, #524656 50%, #0000 0)
      -25% 100% / 50% 3px repeat-x border-box;
    position: relative;
    animation: l3-0 .75s linear infinite;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    inset: auto 42.5% 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background: rgb(69, 122, 251);
    animation: l3-1 .75s cubic-bezier(0, 900, 1, 900) infinite;
  }
  
  @keyframes l3-0 {
    to { background-position: -125% 100%; }
  }
  
  @keyframes l3-1 {
    0%, 2% { bottom: 0%; }
    98%, to { bottom: .1%; }
  }
  