.errorpage {
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    overflow: hidden;
  }
  
  .error-page-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Text Content */
  .text {
    position: absolute;
    top: 10%;
    color: #fff;
    text-align: center;
    z-index: 10;
  }
  
  .text h1 {
    font-size: 50px;
    margin: 10px 0;
  }
  
  /* Go Home button */
  .home-link {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background: var(--button-color);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
  }
  .home-link:hover {
    background: #a73233;
  }
  
  /* Astronaut Animation */
  .astronaut img {
    width: 100px;
    position: absolute;
    top: 55%;
    z-index: 9;
    animation: astronautFly 6s infinite linear;
  }
  
  @keyframes astronautFly {
    0% {
      left: -100px;
    }
    25% {
      top: 50%;
      transform: rotate(30deg);
    }
    50% {
      transform: rotate(45deg);
      top: 55%;
    }
    75% {
      top: 60%;
      transform: rotate(30deg);
    }
    100% {
      left: 110%;
      transform: rotate(45deg);
    }
  }
  
  
  .star {
    position: absolute;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    z-index: 1;
    animation-name: starTwinkle;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes starTwinkle {
    0% {
      opacity: 0.4;
    }
    25% {
      opacity: 0.8;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }