.blur-background {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    background: rgba(255, 255, 255, 0.8); 
    padding: 3px;
    z-index: 1;
    backdrop-filter: blur(1px); 
    -webkit-backdrop-filter: blur(1px); 
    border-radius: 08px; 
  }
  