
.login-page {
    position: relative; /* Ensure the pseudo-element is positioned relative to this container */
    background: var(--background-gradient); /* Dynamic gradient background */
    color: var(--text-color); /* Dynamic text color */
    background-size: cover;
    overflow: hidden;
  }
  
  
  /* Add the Background Text */
  .signup-page::before, .login-page::before {
    content: "Book Finder"; /* The text to display */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    font-size: 10rem; /* Adjust size as needed */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1); /* Light, transparent text */
    white-space: nowrap; /* Prevent text from wrapping */
    z-index: -1; /* Ensure it stays behind all other content */
    width: 100%; /* Full width */
    text-align: center;
    pointer-events: none; /* Prevent interaction with the text */
  }