
.login-page {
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  background: var(--background-gradient); /* Dynamic gradient background */
  color: var(--text-color); /* Dynamic text color */
  background-size: cover;
  overflow: hidden;
}


.signup-page::before, .login-page::before {
  content: "Book Finder"; 
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  font-size: 10rem; 
  font-weight: bold;
  color: rgba(255, 255, 255, 0.1);
  white-space: nowrap; 
  z-index: -1;
  width: 100%; 
  text-align: center;
  pointer-events: none; 
}

